!!!
%html.mdc-typography{class: "#{controller_name}-#{action_name}"}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1'}
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %title Realtime Sticker Board
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/icon?family=Material+Icons'}
    %meta{name: 'turbolinks-cache-control', content: 'no-cache'}
  %body.realtimestickerboard--body.mdc-typography{data: {controller: controller_name, action: action_name}}
    .js-wrap-sticker-pasting-column
      %canvas.js-sticker-pasting-column{data: {board: @board.data.to_json}}
